body {
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#register{
	position: relative;
	top: 50%;
	left: 50%;
}
.avgrund-active body {
	
}

.avgrund-cover {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	background: rgba(184, 106, 4, 0.886);
}
	.avgrund-active .avgrund-cover {
		visibility: visible;
		opacity: 1;
	}


	
	.avgrund-active .avgrund-contents {
		-webkit-filter: blur(2px);
		   -moz-filter: blur(2px);
		    -ms-filter: blur(2px);
		        filter: blur(2px);
	}
	.no-blur.avgrund-active .avgrund-contents {
		-webkit-filter: none;
		   -moz-filter: none;
		    -ms-filter: none;
		        filter: none;
	}

.avgrund-popup {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 30%;
	height: 80%;
	position: relative;
    left: 33%;
	top: 10%;
 text-align: center;


	visibility: hidden;
	opacity: 0;
	z-index: 2;
	padding: 30px;
	color: #ce682b;
	background: #001336;
	box-shadow: 0px 0px 60px rgba( 0, 0, 0, 0.3 );
	border-radius: 3px;
	box-sizing: border-box;

	transform: scale( 0.8 );
}



	.avgrund-active .avgrund-popup-animate {
		visibility: visible;
		opacity: 1;

		transform: scale( 1.1111 );
	}

	.avgrund-popup.stack {
		transform: scale( 1.5 );
	}
	.avgrund-active .avgrund-popup.stack {
		transform: scale( 1.1111 );
	}


.avgrund-ready body,
.avgrund-ready .avgrund-contents,
.avgrund-ready .avgrund-popup,
.avgrund-ready .avgrund-cover {
	transform-origin: 50% 50%;
	transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.avgrund-ready .avgrund-popup.no-transition {
	transition: none;
}


.regP{
	grid-area: 1/1/2/3;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
	left: auto;
	text-decoration: underline;

	color: #ce682b
}


/*.first1{
	position: absolute;
	top: 20%;
	right: 60%;
}*/
form {
	grid-area: 2/1/6/3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	margin-top: 10%;
	float: left;
	text-align: left;
}




#close{
	grid-area: 1/1/2/4;
	width: 25%;
	height: 25%;
	background: rgb(67, 54, 54);
	border: whitesmoke 3px;
	color: white;

	width: 10%;
	height: 40%;


}

.first{
	grid-area: 1/1/2/2;
}

.lastGr{
	grid-area:1/2/2/3;
}

.emCon{
	grid-area: 2/2/3/3;
}

form :last-child{
	text-align: center
}
#submit{
	background:#ce682b;
	color: white;
	
	width:10vw;
	height: 5vh;
	font-size: x-large
}


@media screen and (max-width: 1400px) {
	form {
	  display: block;
	}
.avgrund-cover{
		display: block;
	}
  }

  button{
	  border-radius: 12px;
  }

  input{
	  border-radius: 6px;
  }