body {
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#register{
	position: relative;
	top: 50%;
	left: 50%;
}


.avgrund-cover {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;

	opacity:1;
	background: #001336;
}


	
.avgrund-active .avgrund-contents {
	-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-ms-filter: blur(2px);
			filter: blur(2px);
}
.no-blur.avgrund-active .avgrund-contents {
	-webkit-filter: none;
		-moz-filter: none;
		-ms-filter: none;
			filter: none;
}

aside{
	margin:auto;
	margin-top:100px;

	width: 400px;
	height: 500px;

	opacity: 1;
	z-index: 2;
	padding: 30px;
	color: aliceblue;
	background: #ce682b;
	box-shadow: 0px 0px 60px rgba( 0, 0, 0, 0.3 );
	box-sizing: border-box;
	border: solid 3px aliceblue;
	border-radius: 5px;

	transform: scale( 0.8 );
}

.regP{
	grid-area: 1/1/2/3;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
	left: auto;
}

form {
	grid-area: 2/1/6/1;
	display: grid;
	grid-template-rows: 20% 20% 20% 30% 10%;
	text-align: center;
	row-gap: 5px;
}

.first{
	width: 80%;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-self: center;
}

.second{
	width: 80%;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-self: center;
}

.third{
	width: 80%;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-self: center;
}

#submit{
	background:#001336;
	color: white;
padding: 10px;
	width:12vw;
	height: 8vh;
	font-size: x-large
}

.submit{
    padding:10px;
}

input{
	width: 150px;
	height: 35px;
}
@media screen and (max-width: 800px) {
	form {
	  display: block;
	  
	}
	input{
width: 100px;

	}
	#regP{
		font-size: 20px;
	}
	.avgrund-popup{
		width: 50%;
	}
	.submit{
		size: 30px;
	}
	#submit{
		width: 60px;
		font-size: xx-small;
	}
.avgrund-cover{
		display: block;
	}
  }

  button{
	  border-radius: 12px;
  }

  input{
	  border-radius: 6px;
  }